<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>{{ title }}</h1>
  </header>

  <div class="dashboard-metrics">
    <div class="metric">
      <h2>Real Time</h2>
      <p>3 kg</p>
    </div>
    <div class="metric">
      <h2>StdDev</h2>
      <p>3 kg</p>
    </div>
  </div>

  <div class="dashboard-chart">
    <canvas baseChart class="canvas"
            [datasets]="chart.data.datasets"
            [labels]="chart.data.labels"
            [options]="chart.options"
            [legend]="chart.legend"
            [type]="'line'">
    </canvas>
  </div>

  <div class="dashboard-chart">
    <canvas baseChart class="canvas"
            [datasets]="boxPlotChart.data.datasets"
            [labels]="boxPlotChart.data.labels"
            [options]="boxPlotChart.options"
            [legend]="boxPlotChart.legend"
            [type]="'boxplot'">
    </canvas>
  </div>


</div>
