<div class="dashboard-container">

  <header class="dashboard-header">
    <h3>{{ title }} {{currentBox}}</h3>
    <header class="dashboard-header">
      <mat-button-toggle-group
        [(ngModel)]="currentBox"
        (change)="onChartChange()"
        aria-label="BoxSelection"
        [hideSingleSelectionIndicator]="true"
      >
        <mat-button-toggle value="1">Box 1</mat-button-toggle>
        <mat-button-toggle value="2">Box 2</mat-button-toggle>
        <mat-button-toggle value="3">Box 3</mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group
        [(ngModel)]="timeLine"
        (change)="onChartChange()"
        aria-label="timeLine"
        [hideSingleSelectionIndicator]="true"
      >
        <mat-button-toggle value="7">Week</mat-button-toggle>
        <mat-button-toggle value="30">Month</mat-button-toggle>
        <mat-button-toggle value="0">All</mat-button-toggle>
      </mat-button-toggle-group>
    </header>
  </header>


  <mat-divider class="divider"></mat-divider>

  <div class="dashboard-chart" *ngIf="box_data.length > 0">
    <h5 style="text-align: center">Average Weight</h5>

    <canvas baseChart class="canvas" style="display: unset!important;"
            [datasets]="chart.data.datasets"
            [labels]="chart.data.labels"
            [options]="chart.options"
            [legend]="chart.legend"
            [type]="'line'">
    </canvas>
  </div>



  <!--
  <div class="divider"></div>

  <div class="dashboard-chart" *ngIf="barChart != null">
    <h2>Weight Distribution</h2>
      <canvas baseChart class="canvas" style="display: unset!important;"
              [datasets]="barChart.datasets"
              [labels]="barChart.labels"
              [options]="barChart.options"
              [type]="'bar'">
      </canvas>
  </div>
  -->

</div>


