<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>{{ title }}</h1>
  </header>

  <div class="dashboard-metrics">
    <div class="metric">
      <h2>Real Time</h2>
      <p>{{ lastestAverage() }} kg</p>
    </div>
    <div class="metric" [ngStyle]="{'color': getStdDevColor()}">
      <h2>StdDev</h2>
      <p>{{ stdDev }} kg</p>
    </div>
  </div>

  <div class="dashboard-chart">
    <canvas baseChart class="canvas"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="'line'">
    </canvas>
  </div>

  <div *ngIf="feedbackMessage" class="confirmation-message">
    <p>{{ feedbackMessage }}</p>
  </div>

  <div class="weight-estimate-container">
    <h2>Real-Time Estimate</h2>
    <p *ngIf="realTimeEstimate">Weight: {{ realTimeEstimate }} kg  | StdDev: {{lowestStdDev}} kg</p>
    <div class="dashboard-actions">
      <button class="custom-button" (click)="resetEstimate()" [disabled]="realTimeEstimate == null">Reset</button>
      <button class="custom-button" (click)="onPostFinal()" [disabled]="realTimeEstimate == null">Submit</button>
      <button class="custom-button" (click)="onDeleteLastFinal()">Delete Last</button>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2024 Your Company</p>
  </footer>
</div>
