<!-- app.component.html -->
<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>{{ title }}</h1>
  </header>
  <div class="dashboard-metrics">
    <div class="metric">
      <h2>Real Time</h2>
      <p>{{ lastestRaw() }} kg</p>
    </div>
    <div class="metric">
      <h2>Average</h2>
      <p>{{ lastestAverage() }} kg</p>
    </div>
    <div class="metric" [ngStyle]="{'color': getStdDevColor()}">
      <h2>StdDev</h2>
      <p>{{ stdDev }} kg</p>
    </div>
  </div>
  <div class="dashboard-chart">
    <canvas baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="'line'">
    </canvas>
  </div>
  <button class="custom-button" (click)="onPostFinal()">Store Weight In DB</button>
  <div *ngIf="confirmationMessage">
    <p>{{ confirmationMessage }}</p>
  </div>

  <button class="custom-button" (click)="computeStatisticsWithoutOutliers()">Estimate correct weight</button>
  <div *ngIf="confirmationMessage">
    <p>{{ confirmationMessage }}</p>
  </div>
</div>
