<div class="dashboard-container">
  <header class="dashboard-header">
    <h3>{{ title }}</h3>
  </header>

  <div class="dashboard-metrics">
    <div class="metric">
      <h5>Real Time</h5>
      <p>{{ lastestAverage() }} kg</p>
    </div>
    <div class="metric" >
      <h5>StdDev</h5>
      <p [ngStyle]="{'color': getStdDevColor(this.stdDev)}">{{ stdDev }} kg</p>
    </div>
  </div>

  <div class="divider"></div> <!-- Divider between sections -->

  <div class="dashboard-chart">
    <canvas baseChart class="canvas" style="display: block;"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="'line'">
    </canvas>
  </div>

  <div class="divider"></div> <!-- Divider between sections -->

  <div *ngIf="feedbackMessage && showDeleteLast" class="weight-estimate-container">
    <h5>Estimate Stored</h5>
    <p>{{ feedbackMessage }}</p>
    <button class="custom-button-red" [hidden]="!showDeleteLast" (click)="handleRevertClick()" style="margin: 10px">Revert</button>
    <button class="custom-button" (click)="resetFeedback()" style="margin: 10px">OK</button>
  </div>

  <div *ngIf="feedbackMessage && !showDeleteLast" class="weight-estimate-container">
    <h5>Estimate Deleted</h5>
    <p>{{ feedbackMessage }}</p>
    <button class="custom-button" (click)="resetFeedback()" style="margin: 10px">OK</button>
  </div>

  <div *ngIf="!feedbackMessage" class="weight-estimate-container">
    <h5>Real-Time Estimate</h5>
    <p *ngIf="realTimeEstimate && !isProcessing">
      Weight: {{ realTimeEstimate }} kg |
      <span [ngStyle]="{'color': getStdDevColor(lowestStdDev?.toString())}">StdDev: {{ lowestStdDev }} kg</span>
    </p>

    <div class="dashboard-actions">
      <div *ngIf="isProcessing || realTimeEstimate == null; else buttons">
        <div class="loading-spinner">
          <div class="leaf"></div>
        </div>
      </div>

      <ng-template #buttons>
        <button class="custom-button" (click)="handleResetClick()">Reset</button>
        <button class="custom-button" (click)="handleSubmitClick()">
          <mat-progress-bar mode="buffer" ></mat-progress-bar>
          Submit
        </button>
      </ng-template>

    </div>
  </div>
</div>
