<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item"><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li class="nav-item"><a routerLink="/scale/0" routerLinkActive="active">Scale</a></li>
    <li class="nav-item"><a routerLink="/input/0" routerLinkActive="active">Input</a></li>
    <li class="nav-item"><a routerLink="/box/0" routerLinkActive="active">Boxes</a></li>
    <li class="nav-item"><a routerLink="/export/0" routerLinkActive="active">Export</a></li>
  </ul>
</nav>
