<!-- src/app/login/login.component.html -->

<div class="login-container">
  <header class="dashboard-header">
    <h3>{{ isLogin ? 'Login' : 'Register' }}</h3>
  </header>

  <mat-card class="card-element">
    <form [formGroup]="loginForm">
      <mat-card-content>
        <div>
          <mat-form-field class="login-input">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
            <mat-hint *ngIf='loginForm.get("username")?.hasError("maxlength")' style="color: #a30000">Username is over 10 characters long!</mat-hint>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="login-input">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
        </div>

        <div>
          <mat-error *ngIf="errorMsg" class="error-message">
            <b>{{ isLogin ? 'Login' : 'Registration' }} failed</b><br>
            {{ errorMsg }}
          </mat-error>
        </div>
      </mat-card-content>

      <button class="custom-button" routerLinkActive="active" [disabled]="loginForm.invalid" (click)="doAction()">
        {{ isLogin ? 'Sign In' : 'Register' }}
      </button>

      <mat-divider class="divider"></mat-divider>

      <p class="login-message">
        {{ isLogin ? 'No account yet?' : 'Already have an account?' }}
      </p>

      <button class="custom-button" (click)="toggleForm();">
        {{ isLogin ? 'Register' : 'Sign In' }}
      </button>
    </form>
  </mat-card>
</div>

