<div class="dashboard-container">
  <header class="dashboard-header">
    <h3>{{ title }}</h3>
  </header>

  <div *ngIf="feedbackMessage && showDeleteLast" class="weight-estimate-container">
    <p>Estimate Stored</p>
    <button class="custom-button-red" [hidden]="!showDeleteLast" (click)="handleRevertClick()" style="margin: 10px">Revert</button>
    <button class="custom-button" (click)="resetFeedback()" style="margin: 10px">OK</button>
  </div>

  <div *ngIf="feedbackMessage && !showDeleteLast && !errorMessage" class="weight-estimate-container">
    <p>Estimate Deleted</p>
    <button class="custom-button" (click)="resetFeedback()" style="margin: 10px">OK</button>
  </div>

  <div *ngIf="errorMessage" class="weight-estimate-container">
    <p>{{errorMessage}}</p>
    <button class="custom-button" (click)="resetFeedback()" style="margin: 10px">OK</button>
  </div>

  <div *ngIf="!feedbackMessage && !errorMessage" class="weight-estimate-container">
    <div class="input-container">
      <input type="text" [(ngModel)]="realTimeEstimate" (ngModelChange)="onInputChange($event)" placeholder="Insert Weight (kg)">
    </div>

    <button class="custom-button" (click)="handleResetClick()">Reset</button>
    <button class="custom-button" [disabled]="!validInput" (click)="handleSubmitClick()">
      Submit
    </button>
  </div>

</div>

