:root {
  --primary-color: #153448; /* Black */
  --secondary-color: #ffffff; /* White */
  --accent-color: #DFD0B8; /* Bright orange */
  --background-color: #f9f9f9; /* Light grey */
  --contrast-color: #3C5B6F; /* Dark grey */
  --muted-color: #e5e5ea; /* Muted grey */
  --danger-color: #948979; /* Red for error states */
  --divider-color: #000000; /* Light divider grey */
}




body {
  background-color: var(--background-color);
  color: var(--contrast-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and borders are included in width/height */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

h1, h2 {
  margin: 1vh 0;
  color: var(--contrast-color);
  text-align: center;
  font-weight: 600;
}

.footer {
  font-size: 12px;
  text-align: center;
  color: var(--background-color);
}

.dashboard-container {
  max-width: 100%; /* Ensures container doesn't exceed screen width */
  width: 100%; /* Ensure it uses the full available width */
  margin: 80px auto 20px auto; /* Center container and adjust margins */
  padding: 0 20px;
  box-sizing: border-box; /* Ensures padding and borders are included in width/height */
}

.dashboard-header {
  text-align: center;
  margin: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.navbar h1 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0; /* Ensure no margin affects centering */
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.nav-item a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
  padding: 10px;
}

.nav-item a:hover {
  color: var(--accent-color);
}


.divider {
  width: 100%;
  height: 0.1em;
  background-color: var(--primary-color);
  margin: 10px 0 10px 0;
}

.dashboard-metrics {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  align-items: flex-start; /* Align items at the top */
}

.metric {
  flex: 1;
  text-align: center;
}

.metric h2 {
  font-size: 1.2em;
  color: var(--primary-color);
}

.metric p {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-color);
  margin: 0;
}

p {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--primary-color);
}

.dashboard-chart {
  padding: 20px 0;
}

.canvas {
  width: 100%;
  height: auto;
  max-height: 35vh;
}

.custom-button,
.custom-button-red {
  font-size: 14px;
  padding: 10px 20px;
  margin: 0 20px 20px 0;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

.custom-button {
  background-color: var(--contrast-color);
  color: var(--secondary-color);
}

.custom-button-red {
  background-color: var(--danger-color);
  color: var(--secondary-color);
}

.custom-button:not(:disabled):hover,
.custom-button-red:not(:disabled):hover {
  background-color: var(--danger-color);
  color: var(--secondary-color);
}

.custom-button:disabled,
.custom-button-red:disabled {
  background-color: #ccc; /* Disabled background color */
  color: #999; /* Disabled text color */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  opacity: 0.6; /* Reduce opacity for disabled state */
}


.custom-button:not(:disabled):active,
.custom-button-red:not(:disabled):active {
  background-color: var(--contrast-color);
  color: var(--secondary-color);
}

.custom-button:not(:disabled):focus,
.custom-button-red:not(:disabled):focus {
  background-color: var(--contrast-color);
  color: var(--secondary-color);
}


.weight-estimate-container {
  text-align: center;
}



.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.loading-spinner::before,
.loading-spinner::after,
.loading-spinner div {
  content: '';
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: var(--primary-color);
  border-radius: 50%;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0%, 80%, 100% {
    transform: scale(0.7);
    opacity: 0.5;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}






.custom-button mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}


.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
  box-sizing: border-box;
}

.input-container input[type="text"] {
  width: 100%; /* Full width of the container */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  text-align:center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.input-container input[type="text"]:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
}









.mat-button-toggle-group {
  display: flex;
  justify-content: center;
  border-radius: 10px !important;
  margin: 10px;
}

.mat-button-toggle {
  color: var(--primary-color);
  transition: background-color 0.3s, color 0.3s;
}

.mat-button-toggle:hover {
  background-color: var(--contrast-color);
  color: var(--secondary-color);
}

.mat-button-toggle-checked {
  background-color: var(--contrast-color) !important;
  color: var(--secondary-color) !important;
}


.estimate-container {
  display: flex;
  gap: 10px; /* Space between the boxes */
}

.estimate-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1; /* Make the boxes take equal space */
}






















.login-message {
  font-size: large;
  color: #333333;
  text-align: center;
  padding-top: 20px;
}
.card-element {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  height: 100%;
  text-align: center;
  margin-top: 50px;

}
.login-header {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.login-input,
.btn-block {
  width: 70%;
}
h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: #fff;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
.forget{
  margin: -15px 0 15px ;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  margin-right: 3px;

}
.forget label a {
  color: #fff;
  text-decoration: none;
}
.forget label a:hover {
  text-decoration: underline;
}

.register {
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover {
  text-decoration: underline;
}





